/*
#36AA12	
#3E7A2B	
#1C6705	
#4DBF28	
#59BF39
*/

@-ms-viewport {
    width: device-width;
}

body {
    font-family: 'Gentium Basic', serif;
    font-size: 100%;
    line-height: 1.2;

    background: url(../img/bg.jpg);
    background-size: cover;
    background-attachment: fixed;

}

/** Headlines **/

h1, h2, h3 {
    font-family: 'Open Sans', sans-serif;
}

h1 { font-size: 2em;   }
h2 { font-size: 1.4em; }
h3 { font-size: 1.2em; }

h2 { margin-bottom: 0.3em; }

/** Containers **/

header {
    color: white;
    background-color: rgba(28, 103, 5, 0.5);
    padding: 2em 3em;
}

article {
    background-color: white;
    width: 66%;
    margin: 0 auto;
    padding: 2em 3em;
}

section {
    margin-bottom: 2em;
}

p {
    margin-bottom: 1em;
}

/** Navigation **/

nav ul {
    float: right;
}

nav li {
    list-style: none;
    display: inline-block;
    margin-right: 2em;
}

nav a {
    font-family: 'Open Sans', sans-serif;
    color: white;
}

nav a.mobile {
    display: none;
}

/** Mobile navigation **/

@media (max-width: 700px) {
    header nav {
        float: right;
    }

    nav a.mobile {
        display: inline;
        border: 1px solid white;
        padding: 0.4em 0.6em;
    }
    
    nav a.mobile:focus {
        color: #0f0;
    }

    header ul { display: none; }

    #menu {
        margin-top: 3em;
    }

    #menu a {
        font-size: 16px;
        color: #1C6705;

        display: block;
        box-sizing: border-box;
        padding: 1em;
    }

    #menu ul {
        float: none; 
        width: 100%;
    }
    
    nav ul li {
        display: block;
        margin:    0;

        background: white;

        border-bottom: 1px solid #1C6705;
    }
}